@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CSS padrão para todas as páginas */

body {
    font-family: 'Roboto';
    align-items: center;
    text-align: center;
    display: flex;
    color: rgb(0, 0, 34);
}

h1, h2 {
    font-size: 40rem;
}

input {
    font-size: 20rem;
    background-color: #f0ffff;
    border: 1px solid #808080;
}

label {
    border-right: none;
    border: 1px solid #808080;
}

table, tr, td {
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #808080;
}

button {
    background-color: darkslateblue;
}

button:hover {
    background-color: cornflowerblue;
}

a {
    text-decoration: none;
}